<div class="show">
<form method="post" action="/members/<%= @member.id %>" >
 <label for="first-name">First Name:</label>
 <input type="text" name="first_name" id="first-name" value="<%= @member.first_name %>"/>

<label for="second-name">Second Name:</label>
<input type="text" name="second_name" id="second-name" value="<%= @member.second_name %>" />

<label for="membership-tier">Membership Tier:</label>
<select name="membership_tier" id="membership-tier">
 <option value="Premium" <%= "selected" if @member.membership_tier == "Premium" %> >Premium</option>
 <option value="Standard" <%=  "selected" if @member.membership_tier == "Standard" %> >Standard</option>
</select>


<input type="submit" value="Save Edits">

</form>
