<h1>Fitness Classes</h1>
<div class="grid">
  <% @fitness_classes.each do |fitness_class| %>
  <p> <%= fitness_class.fitness_class_name %> <%= fitness_class.fitness_class_time %></p>
  <p> <%= fitness_class.peak_category %> </p>
  <p> <%= fitness_class.fitness_class_max_size %> </p>
  <p><a href="/fitness_classes/<%= fitness_class.id %>">show_fitness_classes</a></p>
  <hr />
  <% end %>
</div>
