<div class="show_h1">
<h1 style="font-size:5vw;">Fitness Classes</h1>
<a href="/fitness_classes/new" class="button">Click here to add new class</a>
<hr/ >
</div>
<div class="grid">
  <% @fitness_classes.each do |fitness_class| %>
  <p>Class name: <%= fitness_class.fitness_class_name %></p> <p>Class Time: <%= fitness_class.fitness_class_time %></p>
  <p> <%= fitness_class.peak_category %> </p>
  <p>Max Size Class: <%= fitness_class.fitness_class_max_size %> </p>
  <p><a href="/fitness_classes/<%= fitness_class.id %>">show_fitness_classes</a></p>
  <hr />
  <% end %>
</div>
<a href="/fitness_classes/new" class="button">Click here to add new class</a>
